body {
  padding: 0px;
  margin: 0;
}
body, #entry {
  background: #22252f;
  color: #eee;
}
body, table {
  font-family: DejaVu Sans Mono, fixed; 
  font-size: 14pt;
  line-height: 100%;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#loading, #connect {
  background: #22252a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: DejaVu Sans Mono, fixed; 
  width: 30em;
  border: 0;
}

#toolbar {
  position: fixed;
  color: #fff;
  width: 100%; 
  bottom: 0;
  background: #733;
}

#entry {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
}

#title {
  position: relative;
  padding: 5px;
}

#chatters {
  position: absolute;
  top: 5px;
  float: right;
  right: 5px;
}

#chat {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  position: absolute;
  padding: 5px;
  padding-bottom: 5.1em; 
  background: inherit;
  width: 49%;
  top: 70px;
  bottom: 60px;
  word-wrap: break-word;
  overflow-y: auto;
  float: left;
}

#code {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  position: absolute;
  padding: 5px;
  right: 0px;
  padding-bottom: 5.1em; 
  background: inherit;
  width: 49%;
  top: 70px;
  bottom: 60px;
  overflow: auto;
  float: right;
  font-size: 10pt;
}

#chat_form {
  position: relative;
  float: left;
  padding: 5px;
}

#code_form {
  position: relative;
  float: right;
  right: 10px;
  padding: 5px;
}

pre.prettyprint {
  border: 0px;
  background: white;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 2em 0 0;
}

#usersLink {
  color: inherit;
}



